<!-- Footer -->
<footer class="page-footer font-small unique-color-dark">
  <div style="background-color: #009EE2;">
    <div class="container">
      <div class="row py-3 d-flex align-items-center">
        <!-- Copy right -->
        <div class="col-md-6 col-lg-6 text-center text-md-right mb-4 mb-md-0">
          <h6 class="mb-0 footer-text">جميع الحقوق محفوظة – انوسوفت © 2021</h6>
        </div>
        <!-- Copy right -->
        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 text-center text-md-left">
          <h6 class="mb-0 footer-text">سياسة الخصوصية | الشروط و الأحكام</h6>
        </div>
        <!-- Grid column -->
        <!-- Social icon -->
        <div class="col-md-2 col-lg-3 text-center text-md-left">
          <!-- Facebook -->
          <a class="fb-ic white-text footer-text">
            <i class="fa fa-facebook white-text mr-4"></i>
          </a>
          <!-- Google +-->
          <a class="gplus-ic footer-text">
            <i class="fa fa-google white-text mr-4"></i>
          </a>
          <!--Linkedin -->
          <a class="li-ic footer-text">
            <i class="fa fa-linkedin white-text mr-4"></i>
          </a>
        </div>
        <!-- Social icon -->
      </div>
    </div>
  </div>
</footer>
<!-- Footer -->
