<!-- Section Menu -->
<app-menu></app-menu>
<!-- Section 1 main slider -->
<app-innosoft-test-platform></app-innosoft-test-platform>
<!-- Section 2  -->
<app-advantages [basic]="basicCard"></app-advantages>
<!-- Section 3 cards-->
<app-initiatives [card]="cards"></app-initiatives>
<!-- Sectuon 4 -->
<app-chances [chance]="chance"></app-chances>
<!-- Section 5-->
<app-achievements></app-achievements>
<!-- Section 6 -->
<app-partnerships></app-partnerships>
<!-- Section Contact us -->
<app-contact-us></app-contact-us>
<!-- Section Footer -->
<app-footer></app-footer>
